<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все о глаголах</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart'], 'language': 'ru'});
      google.charts.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Лемма');
        data.addColumn('number', 'Количество');
        data.addRows([
          {% for lem, num in data.items() %}
              ['{{ lem }}', {{ num }}],
          {% endfor %}
        ]);

        var options = {'title':'Частотное распределение лемм',
                       'width':600,
                       'height':300,
                        'legend': { position: "none" }};

        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
    </script>
    <style> body {padding-top: 70px;}</style>
</head>
<!-- Fixed navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">-->
            <!--<span class="sr-only">Toggle navigation</span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
            <!--<span class="icon-bar"></span>-->
          <!--</button>-->
          <a class="navbar-brand" href="/">Навигация по сайту</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">На главную</a></li>
            <li><a href="https://github.com/eszakharova/homework/tree/master/mysite">Исходный код</a></li>
            <li><a href="/verbs">Глаголы</a></li>
              <li><a href="/vk">BK</a></li>
              <li><a href="/nltk">Корпус пьес</a></li>

          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </nav>
<body>
<div class="container theme-showcase" role="main">
 <h1>Информация о глаголах в тексте</h1>
    <form method='post'>
        <h2>Ваш текст:</h2>
        <textarea rows="4" cols="50" name="text">{{ input }}</textarea>
        <br>
        <input class="btn btn-default" type="submit" value="Разобрать">
    </form>

    {% if toprint1 %}
     <div id="chart_div"></div>
        <h1>Информация о глаголах:</h1>
        <ul>
    {% for p in toprint1 %}
    <li>{{p}}</li>
    {% endfor %}
    </ul>
    <h2>Частотный список лемм:</h2>
    <ul>
    {% for r in toprint2 %}
     <li>{{r}}</li>
    {% endfor %}
    </ul>
    {% endif %}
</div>
</body>
</html>