<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Все о глаголах</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
 <h1>Информация о глаголах в тексте</h1>
    <form method='post'>
        <h2>Ваш текст:</h2>
        <textarea rows="4" cols="50" name="text">{{ input }}</textarea>
        <br>
        <input class="btn btn-default" type="submit" value="Разобрать">
    </form>

    {% if toprint1 %}
        <h1>Информация о глаголах:</h1>
        <ul>
    {% for p in toprint1 %}
    <li>{{p}}</li>
    {% endfor %}
    </ul>
    <h2>Частотный список лемм:</h2>
    <ul>
    {% for r in toprint2 %}
     <li>{{r}}</li>
    {% endfor %}
    </ul>
    {% endif %}

</body>
</html>