<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ВК ВК ВК АПИ АПИ АПИ</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</head>
<body>
<h1>Количество подписчиков</h1>
<form method='post'>
		<h2>Название или id первой группы </h2>
		<input type="text" placeholder="Например, schooloflinguistics" name="group_id1">
		<br>
        <h2>Название или id второй группы</h2>
        <input type="text" placeholder="Например, schooloflinguistics" name="group_id2">
		<br>
		<input class="btn btn-default" type="submit" value="Число подписчиков">
	</form>

	{% if result %}
        {% if result[3] %}
        <h2>Закрытая группа...</h2>
        {% else %}
		<h2>Подписчики группы {{ group_id1 }}:</h2>
		<p>{{result[0]}}</p>
        <h2>Подписчики группы {{ group_id2 }}:</h2>
        <p>{{result[1]}}</p>
        <h2>Подписчики обеих групп:</h2>
        <p>{{result[2]}}</p>
        {% endif %}
	{% endif %}
</body>
</html>